<launch>
  <arg name="robot" default="ur5"/>
  <arg name="group" default="manipulator"/>
  <arg name="end_effector" default="gripper"/>
  <rosparam command="load" file="$(find myrobot2_grasping)/config/$(arg
  robot)_grasp_data.yaml"/>
  <node pkg="moveit_simple_grasps" type="moveit_simple_grasps_server"
  name="moveit_simple_grasps_server">
    <param name="group" value="$(arg group)"/>
    <param name="end_effector" value="$(arg end_effector)"/>
    <rosparam command="load" file="$(find myrobot2_grasping)/config/$(arg
    robot)_grasp_data.yaml"/>
  </node>
</launch>
